@media (max-width: 1168px) {
	._container {
		max-width: 1050px;
	}
	.main-block-image {
		margin: 109px 30px 0 30px;
	}
	.item-text-container {
		position: absolute;
		left: 220px;
		width: 440px;
	}
	.info-item img {
		width: 200px;
		height: 197px;
	}
	.info-item {
		width: 745px;
	}
	.item-title {
		font-size: 22px;
	}
	.content-contacts {
		width: 220px;
	}
	.contact-tags {
		width: 220px;
	}
	.contact-tag-button {
		padding: 0px 10px;
	}
	.contact-tag-text {
		font-size: 14px;
	}
	.block-about {
		margin-top: 88px;
	}
}
/* --------------------------------------------TABLET */
@media (max-width: 991.98px) {
	._container {
		max-width: 780px;
	}
	.header-logo {
		font-size: 34px;
	}
	.menu-item:not(:last-child) {
		margin-right: 25px;
	}
	.menu-link {
		font-size: 16px;
	}
	.menu-link.active {
		font-weight: 600;
	}
	.block-text {
		width: 600px;
	}
	.content-wrapper {
		display: flex;
		flex-direction: column;
	}
	.info-item img {
		width: 224px;
		height: 221px;
	}
	.item-text-container {
		left: 272px;
	}
	.item-title {
		font-size: 24px;
	}
	.content-contacts {
		position: relative;
		top: 130px;
	}
	.contact-icons {
		width: 400px;
	}
	.contact-tags {
		width: 700px;
	}
	.contact-tag-text {
		font-size: 16px;
	}
	.contact-tag-button {
		padding: 0px 15px;
	}
	.block-about {
		width: 800px;
		height: 300px;
		margin-top: 10px;
	}
	.block-about img {
		width: 330px;
		height: 300px;
		margin-left: 29%;
	}
	.about-title {
		margin: 0 auto;
	}
	.about-text {
		text-align: center;
		margin: 15px auto;
	}
	.content-pagination {
		position: absolute;
		top: 2400px;
		width: 370px;
		left: 25%;
	}
	.block-subscribe {
		margin-top: 350px;
	}
	.subscribe-form {
		width: 700px;
	}
	.user-name {
		padding: 16px 30px 15px 20px;
	}
	.user-email {
		padding: 16px 100px 15px 20px;
	}
	.subscribe-button {
		padding: 17px 30px;
	}
}
/* --------------------------------------------MOBILE*/
@media (max-width: 767.98px) {
	._container {
		max-width: none;
	}
	/* ---------------------burger */
	.menu-body {
		position: fixed;
		top: 0;
		left: -105%;
		width: 100%;
		height: 100%;
		overflow: auto;
		background-color: #fff;
		padding: 100px 15px 30px 0;
		transition: left 0.3s ease 0s;
	}
	.header:target .menu-body {
		left: 0;
	}
	.header:target .menu-body::before {
		content: '';
		position: fixed;
		top: 0;
		left: 0;
		height: 77px;
		width: 100%;
		background-color: #fff;
	}
	.menu-list {
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.menu-link {
		font-size: 20px;
		font-weight: 600;
	}
	.menu-link.active {
		color: #818181;
		font-family: 'Mulish', sans-serif;
		font-size: 20px;
		font-weight: 600;
	}
	.menu-item:not(:last-child) {
		margin-right: 0px;
	}
	.menu-item {
		margin-bottom: 20px;
	}
	.menu-item:last-child {
		margin-bottom: 0;
	}
	.icon-menu {
		position: relative;
		flex: 0 0 30px;
		height: 18px;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	}
	.icon-menu::before,
	.icon-menu::after {
		content: '';
		background-color: black;
		height: 2px;
	}
	.icon-menu span {
		background-color: black;
		height: 2px;
	}
	.close-icon-menu {
		display: none;
		flex: 0 0 30px;
		height: 30px;
		position: relative;
	}
	.close-icon-menu::before,
	.close-icon-menu::after {
		content: '';
		position: absolute;
		top: 50%;
		left: 0;
		width: 100%;
		background-color: black;
		height: 2px;
	}
	.close-icon-menu::before {
		transform: rotate(45deg);
	}
	.close-icon-menu::after {
		transform: rotate(-45deg);
	}
	.header:target .icon-menu {
		display: none;
	}
	.header:target .close-icon-menu {
		display: flex;
	}
	/* -------------------------header */
	.header-logo {
		font-size: 20px;
		font-weight: 600;
	}
	/* -------------------------main-block section-1 */
	.main-block-image {
		height: 430px;
		margin: 109px 20px 0 20px;
	}
	.block-text {
		width: 280px;
		top: 35px;
	}
	.block-text-title {
		font-size: 18px;
		font-weight: 600;
	}
	.block-text-text {
		font-size: 16px;
		line-height: 19px;
		width: 270px;
		height: 122px;
		left: calc(50% - 270px / 2 + 1px);
		top: calc(50% - 122px / 2 - 4.5px);
	}
	.block-text-button {
		width: 240px;
		height: 50px;
		left: calc(50% - 240px / 2 + 1.5px);
	}
	.block-text-button span {
		font-size: 16px;
		font-weight: 600;
	}
	/* -----------------------------section-2 */
	.content-categories {
		width: 510px;
	}
	.category-item {
		font-size: 14px;
	}
	.info-item {
		width: 473px;
		display: flex;
		flex-direction: column;
	}
	.content-info {
		grid-row-gap: 230px;
	}
	.info-item img {
		width: 100%;
		margin: 0px 20px;
		height: 261px;
	}
	.info-item:hover .info-overlay {
		width: 355px;
		height: 261px;
	}
	.item-text-container {
		width: 100%;
		position: static;
		margin: 20px auto;
	}
	.item-title {
		width: 100%;
		font-size: 18px;
		text-align: center;
		font-weight: 700;
		margin: 0px 30px;
	}
	.item-text {
		width: 100%;
		font-size: 14px;
		text-align: center;
	}
	.item-link {
		margin: 40px 0 0 22px;
		font-size: 14px;
	}
	.content-contacts {
		top: 1050px;
		margin: 0 20px;
	}
	.contact-tags {
		width: 400px;
	}
	.contact-icons {
		width: 360px;
	}
	.content-pagination {
		top: 3330px;
		width: 350px;
		margin: 0 20px;
		left: 8%;
	}
	.block-subscribe {
		margin-top: 1220px;
		width: 100%;
		height: 490px;
		padding: 0;
	}
	.block-about {
		width: 100%;
		height: 300px;
		margin-top: 10px;
	}
	.block-about img {
		width: 330px;
		height: 300px;
		margin-left: 28%;
	}
	.about-text,
	.about-title {
		width: 450px;
		text-align: center;
	}
	.subscribe-title {
		font-size: 18px;
		font-weight: 600;
	}
	.subscribe-text {
		width: 400px;
		left: calc(50% - 400px / 2 - 0.5px);
	}
	.subscribe-form {
		margin: 170px auto;
		display: flex;
		width: 350px;
		height: 180px;
		justify-content: space-between;
		flex-direction: column;
	}
	.subscribe-button {
		padding: 19px 140px;
		text-align: center;
	}
	.footer-avatar {
		width: 80px;
		height: 80px;
		margin-left: 39%;
	}
	.footer-container h2 {
		font-size: 24px;
		text-align: center;
	}
}
/* --------------------------------Mobile small */
@media (max-width: 479.98px) {
	.content-info {
		grid-row-gap: 260px;
	}
	#category {
		display: block;
		width: 155px;
		margin-left: 5px;
		height: 20px;
		border-radius: 5px;
		padding: 5px;
		font-size: 16px;
	}
	.content-categories {
		display: none;
	}
	.info-item {
		width: 100%;
	}
	.info-overlay {
		width: 100%;
	}
	.info-detail {
		width: 100%;
	}
	.info-item img {
		width: 100%;
		margin: 0 auto;
	}
	.item-title {
		width: 100%;
		margin: 0;
	}
	.item-link {
		margin-top: 50px;
	}
	.item-text {
		text-align: center;
		margin-top: 37px;
	}
	.item-text-container {
		width: 330px;
	}
	.contact-icons {
		width: 300px;
	}
	.contact-tags {
		width: 330px;
	}
	.content-contacts {
		width: 100%;
		margin: 10px 0;
		top: 1180px;
	}
	.block-about {
		width: 100%;
		margin: 30px auto;
	}
	.block-about img {
		width: 100%;
		height: 220px;
		margin: 10px 0px;
	}
	.about-text,
	.about-title {
		width: 100%;
		text-align: center;
	}
	.content-pagination {
		width: 90%;
		left: 0;
		margin: 5px auto;
	}
	.pagination-page {
		width: 20px;
	}
	.subscribe-container {
		width: 95%;
		text-align: center;
		padding: 65px 0 0;
		margin: 0 10px;
	}
}
